/* WellX AI - Premium Style */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#ffffff;
    color:#111111;
    transition:0.4s;
}

.dark{
    background:#0d0d0d;
    color:#ffffff;
}

nav{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    border-bottom:1px solid #e5e5e5;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

.logo span{
    color:#666;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav ul li a{
    text-decoration:none;
    color:inherit;
    font-weight:500;
}

.btn{
    padding:12px 24px;
    background:#111;
    color:#fff;
    border-radius:30px;
    text-decoration:none;
}

.hero{
    height:85vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
}

.hero h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero p{
    color:gray;
    font-size:20px;
    margin-bottom:30px;
}

.search-box{
    width:800px;
    max-width:90%;
    border:1px solid #ddd;
    padding:18px;
    border-radius:18px;
    font-size:18px;
}

.cards{
    display:flex;
    gap:15px;
    margin-top:30px;
    flex-wrap:wrap;
    justify-content:center;
}

.card{
    padding:15px 22px;
    border:1px solid #ddd;
    border-radius:15px;
    cursor:pointer;
    transition:.3s;
}

.card:hover{
    background:#111;
    color:white;
}
